

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" class="titulo">petshop</ion-title>
    <img src="../../assets/cachorro11.png" style="width: 60%; position: relative; left: 120px;">
  </ion-toolbar>
  </ion-header>

 
 <ion-grid>
  <ion-row>
<ion-col>
 
</ion-col>
  </ion-row>
</ion-grid>

  <ion-grid>
  <ion-row>
<ion-col>
  <label>
    <span>Nome:</span>
    <input required placeholder="" type="text"/>
  </label>
</ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
<ion-col>
  <label>
    <span>idade:</span>
    <input required placeholder="" type="text"/>
  </label>
</ion-col>
</ion-row> 
</ion-grid>
 </ion-content>
