

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large" class="titulo">petshop</ion-title>
    <img src="../../assets/cachorro11.png" style="width: 60%; position: relative; left: 120px;">
  </ion-toolbar>
  </ion-header>

 
 <ion-grid>
  <ion-row>
<ion-col>

</ion-col>
  </ion-row>
</ion-grid>

  <ion-grid>
  <ion-row>
<ion-col>
  <label>
    <span style="margin-left: 30px;">Nome:</span>
    <input required placeholder="" type="text" style="margin: 60px; margin-left: 10px;"/>
  </label>
</ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
<ion-col>
  <label>
    <span style="margin-left: 30px;">idade:</span>
    <input required placeholder="" type="text" height="77px;" style="margin: 60px; margin-left: 10px;"/>
  </label>
</ion-col>
</ion-row> 
</ion-grid>

<ion-footer>
  <ion-row>
<ion-col class="espaco">
    <ion-button  style="background-color: rgb(153, 255, 0); border-radius: 20px; margin: 10px;" shape="block" (click)="cadastrar()">Cadastar</ion-button>
</ion-col>
</ion-row> 
</ion-footer>

 </ion-content>
